rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clientes/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
      match /categorias/{document=**} {
      allow read, write: if request.auth != null;
        }
        match /productos/{document=**} {
          allow read, write: if request.auth != null;
        }
    match /ventas/{document=**} {
          allow read, write: if request.auth != null;
        }

  }
}